{% extends "base.html" %}

{% block style %}
<title>Корзина</title>
<style>
    div.short{
        width: 300px;
    }
    div.big_mar{
        margin-left: 30px;
    }
    img.book{
        box-shadow: 10px 6px 15px 0px #000000;
        border: 2px solid rgba(244, 98, 58, 0.71);
    }
</style>
{% endblock %}

{% block content %}
<div class="big_mar">
    {% if items %}
        {% for item in items %}
            <a href="/books/{{ item['id'] }}">
                <img class="book" src="/static/img/{{ item['image'] }}" width="128" height="128" alt='Не найдено'>
                <h3 class="h3 mb-2">{{ item['name'] }}</h3>
                <h3 class="h3 mb-2">{{ item['author'] }}</h3>
            </a>
            <h3 class="h3 mb-2">Количество: {{ item['count'] }}</h3>
            <h3 class="h3 mb-2">{{ item['count'] * item['price'] }} руб.</h3>
            <a href="/delete_basket_item/{{ current_user.id }}/{{ item['id'] }}"  class="btn btn-danger">Удалить</a>
            <br>
            <hr class="divider my-4">
        {% endfor %}
        <h2  class="h2 mb-2" >Итого: {{ total }} руб.</h2>
        <form action="" method="post" name="buy">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ form.submit(type="submit", class="btn btn-primary") }}<br>
        </form>
    {% else %}
    <h2>Корзина пуста</h2>
    {% endif %}
</div>
{% endblock %}