{% extends "base.html" %}

{% block content %}
<form action="" method="post" name="search">
    {{ search.hidden_tag() }}
    {{ search.csrf_token }}
    {{ search.request.label }}<br>
    {{ search.request(class="form-control") }}<br>
    {{ search.submit(type="submit", class="btn btn-primary") }}</br>
</form>
{% if items %}
    {% for item in items %}
        <a href="/books/{{ item['id'] }}">
            <img src="/static/img/{{ item['image'] }}" alt='Не найдено'>
            <h3>{{ item['name'] }}</h3>
            <h3>{{ item['author'] }}</h3>
        </a>
        <h3>{{ item['count'] }}</h3>
        <h3>{{ item['count'] * item['price'] }} руб.</h3>
        <a href="/delete_basket_item/{{ current_user.id }}/{{ item['id'] }}"  class="btn btn-danger">Удалить</a>
    {% endfor %}
    <h2>Итого: {{ total }} руб.</h2>
    <form action="" method="post" name="buy">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ form.submit(type="submit", class="btn btn-primary") }}<br>
    </form>
{% else %}
<h2>Корзина пуста</h2>
{% endif %}
{% endblock %}