{% extends "base.html" %}

{% block content %}
<form action="" method="post" name="add_edit_book" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    {{ form.name.label }}<br>
    {{ form.name() }}<br>
    {{ form.about.label }}<br>
    {{ form.about() }}<br>
    {{ form.author.label }}<br>
    {{ form.author() }}<br>
    {{ form.year.label }}<br>
    {{ form.year() }}<br>
    {{ form.genre.label }}<br>
    {{ form.genre() }}<br>
    {{ form.price.label }}<br>
    {{ form.price() }}<br>
    {{ form.is_new.label }}<br>
    {{ form.is_new() }}<br>
    {{ form.is_bestseller.label }}<br>
    {{ form.is_bestseller() }}<br>
    {{ form.count.label }}<br>
    {{ form.count() }}<br>
    {{ form.submit(type="submit", class="btn btn-primary") }}<br>
</form>
{% endblock %}

