<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <style>
    div.ss{
        width: 600px;
    }
    div.pad{
      padding: 10px;
    }
  </style>
  {% block style %}{% endblock %}
</head>
<body>
<table>
    <tr>
      {% if current_user.is_authenticated %}
          <td class="nav-item"><div class="pad"><a class="h4 mb-2" href="/logout">Выйти из аккаунта</a></div></td>
          <td class="nav-item"><div class="pad"></li><a class="h4 mb-2" href="/basket/{{ current_user.id }}">Корзина</a></div></td>
          {% if current_user.is_admin %}
          <td class="nav-item"><div class="pad"><a class="h4 mb-2" href="/add_book">Добавить книгу</a></div></td>
          {% endif %}
      {% else %}
          <td class="nav-item"><div class="pad"><a class="h4 mb-2" href="/register">Регистрация</a></div></td>
          <td class="nav-item"><div class="pad"><a class="h4 mb-2" href="/login">Вход</a></td>
      {% endif %}
    </tr>
</table>
  {% block content %}{% endblock %}
</body>
</html>