{% extends "base.html" %}
{% block style %}
<style>
    .genres{
        top: 0%;
        text-align: right;
        align-self: right;
    }
    div.container{
            display: flex;
            justify-self: right;
            justify-content: right;
        }
    .book{
        padding: 10px;
    }
</style>
<title>BookShelf</title>
{% endblock %}

{% block content %}
<div class="container h-10"></div>
    <div class="row h-10 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
            <hr class="divider my-4">
            <h1 class="text-uppercase text-black font-weight-bold">BookShelf</h1>
            <hr class="divider my-4">
        </div>
    </div>
</div>
<table>
    <tr>
        <td class="book"><a class="h4 mb-2" href="/new">Новинки</a></td>
        <td class="book"><a class="h4 mb-2" href="/bestsellers">Бестселлеры</a></td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <table>
            {% for book3 in books %}
                <tr>
                {% for book in book3 if book['count'] > 0 %}
                    <td class="book">
                        <a href="/books/{{ book['id'] }}">
                            <img src="/static/img/{{book['image']}}" width="128" height="128"><br>
                            {{ book["name"] }}<br>
                            {{ book["author"] }}<br>
                            {{ book["price"] }} руб.<br>
                        </a>
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
        </td>
        <div class="genres">
            <td>
                {% for genre in genres %}
                    <a href="/genres/{{ genre['id'] }}">{{ genre['name'] }}</a><br>   
                {% endfor %}
            </td>
        </div>
        <td>

        </td>
    </tr>
</table>
{% endblock %}

