{% extends "base.html" %}
{% block style %}
<style>
    div.genres{
        padding-left: 30px;
    }
    div.container{
            display: flex;
            justify-self: right;
            justify-content: right;
        }
    .book{
        padding: 10px;
    }
    div.book{
        box-shadow: 10px 6px 15px 0px #000000;
        border: 2px solid rgba(244, 98, 58, 0.71);
    }
</style>
<title>BookShelf</title>
{% endblock %}

{% block content %}
<center>
    <hr class="divider my-4">
    <h1 class="text-uppercase text-black font-weight-bold">BookShelf</h1>
    <hr class="divider my-4">
</center>
<table>
    <tr>
        <td class="book"><a class="h4 mb-2" href="/new">Новинки</a></td>
        <td class="book"><a class="h4 mb-2" href="/bestsellers">Бестселлеры</a></td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <table>
            {% for book3 in books %}
                <tr>
                {% for book in book3 if book['count'] > 0 %}
                        <td class="book">
                            <div class="book">
                                <a href="/books/{{ book['id'] }}">
                                    <img src="/static/img/{{book['image']}}" width="128" height="128"><br>
                                    {{ book["name"] }}<br>
                                    {{ book["author"] }}<br>
                                    {{ book["price"] }} руб.<br>
                                </a>
                            </div>
                        </td>
                    
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
        </td>
            <td>
                <div class="genres">
                    {% for genre in genres %}
                        <a href="/genres/{{ genre['id'] }}">{{ genre['name'] }}</a><br> 
                    {% endfor %}
                </div>
            </td>
        </td>
    </tr>
</table>
{% endblock %}

