{% extends "forms_base.html" %}

{% block style %}
<title>{{ title }}</title>
<style>
    div.container{
        display: flex;
        align-self: center;
        align-items: center;
        justify-self: center;
        justify-content: center;
    }
    div.field{
        display: flex;
        align-self: center;
        align-items: flex-start;
        justify-self: center;
        justify-content: left;
    }
</style>
{% endblock %}

{% block content %}
    <h2>{{ message }}</h2>
    <div class="container"><h2>Регистрация</h2></div>
    <div class="container">
        <form action="" method="post" name="register" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ form.email.label }}     
            {{ form.email(class = "form-control") }}<br>
            {{ form.password.label }}
            {{ form.password(class = "form-control") }}<br>
            {{ form.password_again.label }}
            {{ form.password_again(class = "form-control") }}<br>
            {{ form.surname.label }}
            {{ form.surname(class = "form-control") }}<br>
            {{ form.name.label }}
            {{ form.name(class = "form-control") }}<br>
            {{ form.image.label }}<br>
            {{ form.image() }}<br>
            <br>
            {{ form.submit(class = "form-control") }}<br>
        </form>
    </div>
{% endblock %}

